*, *::before, *::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
.main-div{
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: blue;
    display: grid;
    place-items: center;
}
.music-container{
    width: 350px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 2px 3px 4px 3px red;
    padding: 30px;
    text-align: center;
    background-color: yellow;
}
#title{
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: aqua;
    margin: 20px 0 5px 0px;
    font-size: 25px;
    font-weight: 500;
    text-shadow: 0 30px 50px brown;
}
#artist{
    color: black;
    text-transform: capitalize;
    letter-spacing: 10px;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 300;
}
.img-container{
    width: 250px;
    height: 250px;
    margin: auto;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
    object-fit: cover;
    box-shadow: 0 12px 30px 5px black;
}
.music-control{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
.music-control .fa-solid{
    color: black;
    font-size: 20px;
    cursor: pointer;
    filter: drop-shadow(0 12px 30px 5px black);
}
.music-control .main-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.music-control .fa-solid:hover{
    color: grey;
}
.music-control .fa-play:hover{
    background-color: white;
    color: black;
    box-shadow:0 1px 2px 2px grey;
}